.about-content{
    justify-content: space-between;
}
.about-card{
    flex-direction: row;
    transition: all 0.2s ease;
    font-family: 'Cabin', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about-card .about-img .img-fluid{
    border-radius: 5%;
    width: 250px;
    height: 250px;
    transition: all 0.3s ease;
    object-fit: cover;
}
.about-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-card:hover .about-img .img-fluid{
    border-radius: 5%;
}
.about-card .text-content .title h2{
    text-align: left;
    font-size: 1.8em;
    font-weight: 700;
    margin-block-end: 0em;
    color: #0B3954;
}
.about-card .text-content .title p{
    font-size: 1.3em;
    color: #0B3954;
    font-weight: 700;
}
.about-card .text-content .lists{
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
}
.about-card .text-content .lists .function{
    margin-right: 4em;
}
.about-card .text-content .lists .function ul,
.about-card .text-content .lists .page ul{
    margin-top: 0.5em;
}
.about-card .text-content .lists p{
    margin-block-end: 0em;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 5px solid #0B3954;
}
.about-card .text-about{
    font: 1.2em 'Lora', sans-serif;
    font-weight: bold;
    margin-top: 0.5em;
}

@media only screen and (min-width:991px){
    .about-card{
        width: 49%;
    }
    .about-card .about-img .img-fluid{
        border-radius: 50%;
    }
}