@charset "utf-8";


.title-vacinas {
  margin-block-end: 0em;
  color: #C81D25;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 0.2em;
  text-align: left;
}
.assintomaticos-info ul li {
  font-family: 'Cabin', sans-serif;
  font-size: 1.5em;
}

.assintomaticos-info ul li a{
  color: #C81D25;
  text-decoration: none;
}

.assintomaticos-info ul li a:hover{
  color: #FF0713;
  text-decoration: underline;
}

.fonte {
  font-size: 0.9rem;
}

.news-externals {
  background-color: #F3F3F3;
  border-top: solid 1px #000;
}

.news-externals a {
  text-decoration: none;
  color: #C81D25;
  font-size: 1.5em;
}

.news-externals a:hover {
  color: #FF0713;
  text-decoration: underline;

}

.news-externals h1 {
    margin-block-end: 0em;
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 0.2em;
    
}

.separador {
  border-bottom: solid 2px ;
}

.separador-branco {
  border-bottom: solid 2px #C7C3C3;
  
}

.texto-h3 {
  margin-block-end: 0em;
  color: #C81D25;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  margin-bottom: 0.2em;
}