section.section-news-cpi{
    padding: 0 5em;
}
section.section-news-cpi a{
    color: black;
    text-decoration: none;
}
section.section-news-cpi a .text-content h2{
    color: black;
}
section.section-news-cpi:hover a .text-content h2{
    color: #C81D25;
}
.news-header, .main-text{
    padding: 0 3em;
}
.news-header .big-title{
    font-size: 3em;
}
.news-header p.initial-text{
    font-size: 1.2em;
    opacity: 0.9;
}
article img.main-img{
    height: 300px;
    object-fit: cover;
    object-position: top;
}
p{
    font-family: 'Lora', serif;
}
.main-text{
    font-size: 1.4em;
    line-height: 1.6;
}