@charset "UTF-8";

/* VARIANT CARDS */
.variants-card .card{
    position: relative;
    margin: 3em 0;
    transition: all 0.2s ease-in;
    border: 2px solid #f0f0f0;
    color: black;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.variants-card .card img{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    right: -50px;
}
.variants-card .card h2{
    text-align: left;
    font-family: 'Cabin', sans-serif;
}
.variants-card .card p{
    margin: 0.5em 0;
    font-size: 1.1em;
    line-height: 1.6;
    font-family: 'Lora', serif;
}

/* ASIDE CUSTOM */
.aside-content{
    display: flex;
    flex-direction: column;
}
.aside-content .div-news{
    padding: 1em 1em;
    margin: 1.5em 0;
    border: 2px solid #f0f0f0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.aside-content .div-news .content-news{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.75em 0;
}
.aside-content .div-news .content-news a.text-content{
    text-decoration: none;
    color: black;
    font-size: 0.7em;
    margin: 1em 0;
}
.aside-content .div-news .content-news a.text-content p{
    font-size: 1.5em;
}
.aside-content .div-news p{
    font-size: 1.3em;
    font-weight: bold;
    margin: 1rem 0 0 0;
}
.bg-dark-blue{
    padding: 0.5em 1em;
    color: white;
}

/* MEDIA FOR - SM -  */
@media only screen and (max-width:767px){
    .variants-card .card img{
        transform: translateX(-75px);
    }
}