/* ========================================
MAIN CSS FILE
CREATED: 2021-10-23

===========================================
PROJECT: Portal informativo sobre a pandemia de COVID-19 e formas de prevenção
BY: Los Fofuritos 
===========================================

version: 0.0.2
last-update: 2021-11-08
=========================================== */

/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lora:wght@400;600&display=swap');
/* ===================================
USAGE: 
font-family: 'Cabin', sans-serif;
font-family: 'Roboto Mono', monospace;
======================================= */

/* MAIN CLASSES TO COLORS BACKGROUND */
.bg-dark-blue { background-color: #0B3954;}
.bg-light-blue { background-color: #087E8B;}
.bg-light { background-color: #BFD7EA;}
.bg-light-red { background-color: #FF5A5F;}
.bg-dark-red { background-color: #C81D25;}


/* NAV CUSTOMIZE CLASS */
nav{
    margin-bottom: 2em;
}
nav .container-fluid a img.logo-img{
    max-height: 75px;
}
nav .container-fluid .collapse .banner{
    max-height: 100px;
    object-fit: cover;
}

/* FOOTER CUSTOMIZE CLASSES */
footer{
    margin-top: 2em;
}
ul.icons li a i{
    font-size: 3em;
}
ul.icons li{
    justify-content: center;
}

/* ARTICLE-NEWS-CONTENT */
.article-news-content .section-news{
    margin: 1em 0;
}
.article-news-content .initial-news .section-news .news-header .news-img img{
    height: 350px;
}
.article-news-content .section-news .news-header .news-img img{
    height: 150px;
    object-fit: cover;
}
.article-news-content .section-news .news-header .news-img .small-text{
    font-size: 0.7em;
}
/* NEWS-STYLE-TEXT-ON-IMAGE */
.section-news{
    position: relative;
    height: 235px;
}
.initial-news .section-news img, .section-news img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.initial-news .section-news .news-header, .section-news .news-header{
    position: absolute;
    padding: 0.5em 1.5em;
    bottom: 1%;
}
.small-text{
    padding:15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}
.last-news{
    display: flex;
    justify-content: space-between;
}
.last-news .section-news{
    width: 47%;
    font-size: .8em;
}
.last-news .section-news .news-header h2{
    font-size: 1.8em;
}
.initial-news .section-news .small-text span:last-child, .section-news .small-text span:last-child{
    text-align: right;
}

/* SECTION-PERSONAL-PAGES */
section.pages-content{
    margin: 100px 0;
}
.initial-page{
    position: relative;
    height: 350px;
}
.initial-page img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.initial-page .text-content{
    position: absolute;
    padding: 0.5em 1.5em;
    bottom: 1%;
}
.side-pages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.single-page{
    font-size: 0.9em;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.single-page img{
    height: 100px;
    width: auto;
}
.single-page .text-content{
    width: 80%;
}
.single-page .text-content h2{
    font-size: 1.5em;
}
.single-page .small-text{
    padding: 0;
}
/* ============================== 
ALL MEDIA RESPONSIVE CLASSES
================================= */
/* MEDIA FOR - LG -  */
@media only screen and (min-width:991px){
    .initial-news .section-news{
        height: 500px;
    }
}
/* MEDIA FOR - MD -  */
/* @media only screen and (max-width:991px){
    
} */
/* MEDIA FOR - SM -  */
@media only screen and (max-width:767px){
    .last-news{
        display: block;
    }
    .last-news .section-news{
        width: 100%;
        font-size: 1em;
    }
}