@charset "UTF-8";
/* ========================================
MAIN CSS FILE
CREATED: 2021-10-23

===========================================
PROJECT: Portal informativo sobre a pandemia de COVID-19 e formas de prevenção
BY: Los Fofuritos 
===========================================

version: 0.0.4
last-update: 2021-11-18
=========================================== */

/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lora:wght@400;600&display=swap');
/* ===================================
USAGE: 
font-family: 'Cabin', sans-serif; (LOW TEXT)
font-family: 'Lora', serif; (HIGH TEXT)
======================================= */

/* MAIN CLASSES TO COLORS BACKGROUND */
.bg-dark-blue { background-color: #0B3954;} /* Secundary */
.bg-light-blue { background-color: #087E8B;} /* Primary */
.bg-light-part { background-color: #f0f0f0;} /* Background/light */
.bg-light-red { background-color: #FF5A5F;} /* Primary */
.bg-dark-red { background-color: #C81D25;} /* Secundary */

/* BIG-TITLE CLASS */
.big-title{
    margin-block-end: 0em;
    color: #C81D25;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 0.2em;
}
.text-lora{
    font: 1.2em 'Lora', sans-serif;
}
.text-curiosity{
    color: #ffffff;
}
.text-black{
    color: #000000;
}
.text-curiosity-covid{
    font-size: 1.5em;
}
.text-title-curiosity{
text-align: center;
}

/* NAV CUSTOMIZE CLASS */
nav{
    margin-bottom: 5.5em;
    background-color: #f0f0f0;
}
nav .container-fluid a img.logo-img{
    max-height: 75px;
}
nav .container-fluid .collapse .banner{
    max-height: 100px;
    object-fit: cover;
}
.nav-item .nav-link{
    font-size: 1.2em;
    color: #0B3954;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
}
button.navbar-toggler span{
    color: #C81D25;
    z-index: 99;
}
.dropdown-menu[data-bs-popper]{
    left: auto;
    right: 0;
}
.dropdown-menu li a:active{
    background-color: #C81D25;
    color: #fff;
}

/* FOOTER CUSTOMIZE CLASSES */
footer{
    margin-top: 5.5em;
    background-color: #f0f0f0;
}
h5.fw-bold{
    color: #C81D25;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}
.links-footer li a{
    color: #0B3954;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
}
.links-footer li:hover a{
    text-decoration: underline;
}
ul.icons li a i{
    font-size: 3em;
    color: #0B3954;
}
ul.icons li{
    justify-content: center;
}
form label.big-title{
    font-size: 1.2em;
    font-weight: 700;
}
.input-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-btn input{
    width: 80%;
}
.input-btn button{
    width: 17%;
}
.link-footer-logo{
    display: flex;
    text-decoration: none;
    flex-direction: column-reverse;
    align-items: center;
}
.footer-logo-img{
    width: 100%;
    margin: 0;
}

/* ARTICLE-NEWS-CONTENT */
.article-news-content a{
    text-decoration: none;
}
.article-news-content .initial-news .section-news{
    font-size: 1.2em;
}
.article-news-content .section-news .news-header{
    color: #fff;
    backdrop-filter: blur(2px);
}
.article-news-content .initial-news .section-news .news-header h2{
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 3px rgb(0 0 0 / 80%);
}
.article-news-content .section-news{
    font-size: .9em;
}
/* NEWS-STYLE-TEXT-ON-IMAGE */
.section-news{
    margin: 0 0 1em 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    height: 235px;
}

.initial-news .section-news img, .section-news img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    transition: transform 0.2s ease;
}
/* SECTION-NEWS HOVER EFFECT */
.section-news:hover img{
    transform: scale(1.1);
}
.initial-news .section-news .news-header, .section-news .news-header{
    position: absolute;
    padding: 0.5em 1.5em;
    bottom: 1%;
}
.small-text{
    padding:15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
}
.small-text span{
    color: #fff;
}
.last-news{
    display: flex;
    justify-content: space-between;
}
.last-news .section-news{
    width: 47%;
    font-size: .8em;
    margin-top: 1em;
    height: 235px;
}
.last-news .section-news .news-header h2{
    font-size: 1.8em;
}
.initial-news .section-news .small-text span:last-child, .section-news .small-text span:last-child{
    text-align: right;
}
/* BLACK TEXT */
section.section-news.black .news-header,
section.section-news.black .small-text span{
    color: #000;
}

/* SECTION-PERSONAL-PAGES */
section.pages-content{
    margin: 100px 0;
}
.initial-page{
    position: relative;
    height: 350px;
}
.initial-page img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.initial-page .text-content{
    position: absolute;
    padding: 0.5em 1.5em;
    bottom: 1%;
}
.side-pages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.single-page{
    font-size: 0.9em;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}
.single-page img{
    height: 100px;
    width: auto;
}
.single-page .text-content{
    width: 75%;
}
.single-page .text-content h2{
    font-size: 1.5em;
}
.single-page .small-text{
    padding: 0;
}

/* SECTION-CARDS-CONTENT */
.cards-content{
    justify-content: space-between;
}
.card{
    margin: 1em 0;
    padding: 1em 2.5em;
}
.card h2, .card h3{
    text-align: center;
}
.card form button.btn{
    width: 100%;
}
.btn-primary{
    background-color: #C81D25;
    border-color: #ac181f;
}
.btn-primary:hover, .btn-primary:focus{
    border-color: #6d0b10;
    background-color: #b11b22;
}
.card a.btn-primary, .card form button.btn-primary{
    margin: auto 0 0 0;
}

/* ============================== 
ALL MEDIA RESPONSIVE CLASSES
================================= */
/* MEDIA FOR - LG -  */
@media only screen and (min-width:991px){
    .initial-news .section-news{
        height: 500px;
    }
    .single-page{
        margin: 0;
    }
    .single-page .text-content{
        width: 80%;
    }
    .card{
        margin: 0;
    }
}
/* MEDIA FOR - MD -  */
/* @media only screen and (max-width:991px){
    
} */
/* MEDIA FOR - SM -  */
@media only screen and (max-width:767px){
    ul.list-unstyled{
        margin: 1.2em 0;
    }
    ul.list-unstyled li{
        margin: 0.8em 0;
        font-size: 1.2em;
    }
    ul.icons{
        margin: 0;
    }
    .link-footer-logo{
        flex-direction: row;
    }
    .footer-logo-img{
        width: 50px;
        margin: 0 0.3em;
    }

    /* DISPLAY VLOCK CLASSES */
    .input-btn, .last-news{
        display: block;
    }
    .input-btn input, .input-btn button{
        width: 100%;
        margin: 0.3em 0;
    }
    .last-news .section-news, .last-news .section-news section{
        width: 100%;
        font-size: 1em;
        height: 235px;
    }
    .last-news .section-news section{
        margin-top: 1em;
        position: relative;
    }
    .article-news-content .initial-news .section-news{
        font-size: .9em;
    }

}