@charset "UTF-8";

.title-vacinas {
    margin-block-end: 0em;
    color: #C81D25;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0.2em;
    text-align: left;
}

.vacinas-info  ul li{
  font-family: 'Cabin', sans-serif;
  font-size: 1.5em;
}

.vacinas-info  li a {
  color: #C81D25;
  text-decoration: none;
}

.vacinas-info  li a:hover{
  color: #FF0713;
  text-decoration: underline;
}

.vacinas-info h1 {
 
}